<% content_for :links do %>
    <div class="box">
      <h2>Noter</h2>
      <ul>
        <% if permitted_to? :new, :notes %>
            <li><%= link_to 'Ny note', new_note_path %></li>
        <% end %>
        <% if permitted_to? :upload, :notes_upload %>
            <li><%= link_to 'Last opp', notesupload_path %></li>
        <% end %>
        <li><%= link_to 'Last ned (xls)', notes_path(:format => :xls) %></li>
        <li><%= link_to 'Last ned (pdf)', notes_path(:format => :pdf) %></li>
      </ul>
    </div>
<% end %>
