<p>
  <% if permitted_to? :new, :notes %>
      <%= link_to 'Ny note', new_note_path %>
      |
  <% end %>
  <% if permitted_to? :upload, :notes_upload %>
      <%= link_to 'Last opp', notesupload_path %>
      |
  <% end %>
  <%= link_to 'Last ned (xls)', notes_path(:format => :xls) %>
  |
  <%= link_to 'Last ned (pdf)', notes_path(:format => :pdf) %>
</p>