<table id="noteTable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Tittel</th>
    <th>Komponist</th>
    <th>Genre</th>
    <th>Epoke</th>
    <th>Språk</th>
    <th>Akkomp.</th>
    <th>Lenker</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => '/notes/notes_row', :collection => @notes, :as => :note %>
  </tbody>
</table>