<h1>Endre <%= @note.title %></h1>

<%= render :partial => "note", :locals => { :note => @note } %>


<% content_for :links do %>
    <div class="box">
      <h2>Note</h2>
      <ul>
        <li><%= link_to 'Tilbake til noter', notes_path %></li>
      </ul>
    </div>
<% end %>