<h2>Noter</h2>

<p><%= link_to 'Last ned', excel_url %></p>

<table>

  <tr>
    <th>ID</th>
    <th>Tittel</th>
    <th>Genre</th>
    <th>Komponist</th>
    <th>Epoke</th>
  </tr>

  <% for note in @notes %>
  <tr>
    <td>
      <% link_to(note) do %>
         <%= note.display_id%>
       <% end %>
    </td>
    <td><%= note.title %></td>
    <td>PLACEHOLDER</td>
    <td>PLACEHOLDER</td>
    <td>PLACEHOLDER</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny note', new_note_path %>