<h2>Resultater</h2>

<%= render :partial => 'search' %>

<br/>

<% if @notes && @notes.size > 0 %>
    <div class="results">
      <h3>Noter</h3>

      <%= render :partial => '/notes/notes' %>
    </div>
<% end %>

<% if @evensongs && @evensongs.size > 0 %>
    <div class="results">
      <h3>Evensongnoter</h3>

      <%= render :partial => '/evensongs/evensongs' %>
    </div>
<% end %>
