<h2>Søk</h2>

<br/>

<p>Du kan søke på tvers av noter og evensongnoter her men kun i titler og komponisters navn.</p>

<br/>

<%= form_tag results_path do %>
    <%= text_field_tag 'search', '', :size => 75 %>
    <%= submit_tag "Søk" %>
<% end %>