<h1>Last opp noter</h1>

<h2>1. Last ned en kopi for sikkerhets skyld</h2>

<p><%= link_to 'Last ned', notes_path(:format => :xls) %></p>

<h2>2. Last opp den nye excel ark</h2>

<p>Excel arket må ha samme format som den du laster ned. Første rad må være det samme.</p>

<%= form_tag(notesimport_path, :multipart => true) do %>
    <label for="file">Oppdatert notearkiv (xls)</label><%= file_field_tag "file" %>
    <br/>
    <%= submit_tag 'Last opp' %>
<% end %>

<h3>3. Last ned enda en gang</h3>

<p>Etter du er ferdig med å laste opp bør du ta en ny nedlasting. Det er fordi den vil inkludere alle nye system ID
  verdier. Husk å bytte ut eksisterende kopier med den nye eller så risikere du at ved neste opplasting så blir det
  laget duplikater. Du vil bli minnet på dette etter opplastingen er ferdig.</p>
