div#header h1 {
    font-family: 'Expletus Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Expletus Sans', sans-serif;
}

ul#nav a {
    font-family: 'Expletus Sans', sans-serif;
}

table.search, table.search tr, table.search td {
    border: 0;
}

.search_box {
    margin: 0;
    padding: 10px;
}

#menu-control {
    padding: 10px;
    margin-bottom: 1em;
    text-align: right;
    background : #FFF6BF;
}