div#header h1 {
    font-family: 'Expletus Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Expletus Sans', sans-serif;
}

ul#nav a {
    font-family: 'Expletus Sans', sans-serif;
}

table.search, table.search tr, table.search td {
    border: 0;
}

.search_box {
    margin: 0;
    padding: 10px;
}

#menu-control {
    padding: 10px;
    margin-bottom: 1em;
    text-align: right;
    background : #FFF6BF;
}


a#show-menu, a#hide-menu {
    display:inline-block;
    line-height:18px;
}

a#show-menu {
    padding-right: 20px;
    background: transparent url(../images/icons/arrow_right.png) center right no-repeat;
}

a#hide-menu {
    padding-left: 20px;
    background: transparent url(../images/icons/arrow_up.png) center left no-repeat;
}

#menu-control .menu-links h2 {
    display: none;
}

#menu-control .menu-links li {
    padding-right: 20px;
    float: left;
}
