<h2>Språk</h2>

<br />

<table>

<% for language in @languages %>
  <tr>
    <td><%=h language.name %></td>
    <td><%= link_to 'endre', edit_language_path(language) %></td>
    <td><%= link_to 'slett', language, :confirm => 'Er du sikker?',
            :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny språk', new_language_path %>