<p>
  <% if permitted_to? :new, :evensongs %>
      <%= link_to 'Ny evensongnote', new_evensong_path %>
      |
  <% end %>
  <% if permitted_to? :upload, :evensongs_upload %>
      <%= link_to 'Last opp', evensongsupload_path %>
      |
  <% end %>
  <%= link_to 'Last ned (xls)', evensongs_path(:format => :xls) %>
  |
  <%= link_to 'Last ned (pdf)', evensongs_path(:format => :pdf) %>
</p>