<% content_for :links do %>
    <div class="box">
      <h2>Evensongnoter</h2>
      <ul>
        <% if permitted_to? :new, :evensongs %>
            <li><%= link_to 'Ny evensongnote', new_evensong_path %></li>
        <% end %>
        <% if permitted_to? :upload, :evensongs_upload %>
            <li><%= link_to 'Last opp', evensongsupload_path %></li>
        <% end %>
        <li><%= link_to 'Last ned (xls)', evensongs_path(:format => :xls) %></li>
        <li><%= link_to 'Last ned (pdf)', evensongs_path(:format => :pdf) %></li>
      </ul>
    </div>
<% end %>