<h1>Ny evensongnote</h1>

<%= render :partial => "evensong" %>

<% content_for :links do %>
    <div class="box">
      <h2>Evensongnote</h2>
      <ul>
        <li><%= link_to 'Tilbake til evensongnoter', evensongs_path %></li>
      </ul>
    </div>
<% end %>
