<h1>Epochs</h1>

<table>
  <tr>
    <th>Name</th>
    <th colspan="2">&nbsp;</th>
  </tr>

<% for epoch in @epochs %>
  <tr>
    <td><%=h epoch.name %></td>
    <td><%= link_to 'Edit', edit_epoch_path(epoch) %></td>
    <td><%= link_to 'Destroy', epoch, :confirm => 'Are you sure?',
            :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New epoch', new_epoch_path %>