<h2>Akkompagnement</h2>

<br />

<table>

<% for instrument in @instruments %>
  <tr>
    <td><%=h instrument.name %></td>
    <td><%= link_to 'endre', edit_instrument_path(instrument) %></td>
    <td><%= link_to 'slett', instrument, :confirm => 'Er du sikker?',
            :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny akkompagnement', new_instrument_path %>