<table>
  <tr>
    <td>Account</td>
    <td><%= @stats[:account] %> (<%= @stats[:id] %>)</td>
  </tr>
  <tr valign="top">
    <td>
      Used
    </td>
    <td>
      <%= "%.2f" % @stats[:normal] %> MB
    </td>
  </tr>
  <tr>
    <td>
      Total
    </td>
    <td>
      <%= "%.2f" % @stats[:max] %> MB
    </td>
  </tr>
</table>
