<div class="box">
  <div style="font-size: 0.8em;">Design by
    <a href="http://www.minimalistic-design.net">Minimalistic Design</a>
    <br/>
    Icons by <a href="http://www.famfamfam.com/lab/icons/silk/">Mark James</a>
  </div>
</div>