<div class="box">
  <h2>Metadata for Noter &amp; Evensongnoter</h2>

  <ul>
    <li><%= link_to 'Komponister', composers_path %></li>
    <li><%= link_to 'Genre', genres_path %></li>
  </ul>
</div>

<div class="box">
  <h2>Metadata for Noter</h2>

  <ul>
    <li><%= link_to 'Epoker', periods_path %></li>
    <li><%= link_to 'Språk', languages_path %></li>
  </ul>
</div>